{% block app_content %}
    <div id="error-page">
        <div class="error-container">
            <h1>Server error: {{ status_code }}</h1>
            {% if(status_code == 500) %}
                <p>Something went wrong but the server could not be more specific on what the exact problem is.</p>
            {% elseif(status_code == 404) %}
                <p>The page you requested is no longer here!</p>
            {% else %}
                <p>{{ status_text }}</p>
            {% endif %}
            <div class="buttons">
                <a href="/" class="btn btn-primary blue">Go to popcorn.com</a>
                <a href="mailto: info@popcorn.com">Contact Support</a>
            </div>
        </div>
    </div>

{% endblock %}
